[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flwr = "*"
torch = "*"
torchvision = "*"
grpcio = "*"
grpcio-tools = "*"
numpy = "<2.0"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.13"
